li {
    text-decoration: none;
    list-style: none;
    color: #7E92B7;
    font-size: x-large;
}
.enligthen {
    color: #C5D1ED;
    font-size: x-large;
}
.container{
        margin: auto;
}
.ul{
    padding-left: 0;
}

 @media (max-width: 768px) { 
    .container {
        margin: 0;
        width: 100%;
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
    }
} 


