.sideBarLi {
    text-decoration: none;
    list-style: none;
    color: #7E92B7;
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

.enligthen, .sideBarLi:hover{
    color: #C5D1ED;
    border-bottom:solid #C5D1ED ;
    border-top : solid #C5D1ED ;
    /* border-top: solid #C5D1ED ; */
    animation : drawEnligthen 2s ease forwards;
}

@keyframes drawEnligthen {
    from {
      max-width: 0%;
    }
    to {
      max-width: 100%;
    }
  }
.container{
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: 80%;        
}

.ulSide{
    padding-right: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-right: solid #C5D1ED ;
    /* margin-top: auto; */
    height: 100%;
    animation: drawBorder 2s ease forwards;
    list-style: none;
}
@keyframes drawBorder {
    from {
      max-height: 0%;
    }
    to {
      max-height: 100%;
    }
  }


 @media (max-width: 768px) { 
    .container {
        margin-right: 40px;
        margin-left: 40px;
    }
    .ulSide{
        /* width: 80%; */
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
        padding-left: 40px;
        border-right: none;
        border-bottom: solid #C5D1ED ;
        
    }
    .sideBarLi {
        font-size: x-large;
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 375px) { 
    .sideBarLi {
    font-size: normal;
    }
}


