 
 .container {
    /* background-color: aquamarine; */
    color:#C5D1ED;
    
  }
  img {
    width:48px;
    height: 48px;
  }
  
  .ulMain {
    padding-left: 0px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: row;
  }
  .logoContainer li{
    margin-left: 5px;
  }

  @media (max-width: 425px) { 
    .ulMain {
      margin-right: 20px;
      margin-left: 20;
    }
  }
  @media (max-width: 320px) { 
    .ulMain {
      margin-right: 10px;
      margin-left: 10px;
    }
  }