 
 .container {
    /* background-color: aquamarine; */
    color:#C5D1ED;
    
  }
  img {
    width:48px;
    height: 48px;
  }
  
  .ulMain {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: row;
  }
  .logoContainer li{
    margin-left: 5px;
  }