.imgContainer{
    
    padding-bottom: 4%;
}
.profilpic{
    width: 80%;
    border-radius: 50%;
    height: fit-content;
    margin: auto;
}

.aboutcardcontainer {
    display: flex;
    
}

@media (max-width: 768px) {
    .aboutcardcontainer{
        flex-direction: column;
    }
    .profilpic {
        width: 40%;
    }
 }