label {
    cursor: pointer;
}
.hidden  {
    display: none;
}

.mainContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'title  title title title'
    'desc  desc desc desc'
    'desc  desc desc desc'
    'desc  desc desc desc'
    'tags  tags tags tags'
    'input  input input input';
    height: 60vh;
}
.tagContainer{
    /* background-color: blue; */
    grid-area: tags;
    text-align: center;
}
.title{
    text-align: center;
    grid-area: title;
}
.description{
    text-align: center;
    grid-area: desc;

}

.inputContainer{
    grid-area: input;
    display: flex;
    justify-content: space-around;
    margin-left: 40%;
    margin-right: 40%;
}

